*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.header{
    font-family: 'Lato', cursive;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header-title {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    position: relative;
    left: 80px;
    top: 20px;
 
}

.menu-header{
display: flex;
justify-content: space-between;
position: relative;
left: -499px;
width: 92px;
height: 28px;
top: 20px;

}

.header a{
color:#1F1F1F;
text-decoration: none;
padding: 12px;
margin: 12px 12px;

}


.header-search{
background: #F2F2F2;
border-radius: 50px;
width: 235px;
height: 52px;
position: relative;
left: -760px;
top: 20px;


}

.procurar{
position: relative;
top: -25px; 
background: #F2F2F2;
border-radius: 50px;
width: 160px;
height: 20px;
text-align: center;
border: 1px;
left: -20px;
    
}
    
.header-carrinho{
  position: relative;
 top: -60px;
 left: 250px;
 background: #F2F2F2;
 border-radius: 50px;
 width: 52px;
 height: 52px;
}

.carrinho-img{
position: relative;
top: 15px;
left: 18px;
}

.lupa{
padding: 18px;
position: relative;

   
}

.sneak{
font-family: "Lato";
font-weight: bold;
font-size: 104px;
line-height: 104px;
color: #DADADA;
background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
position: relative;
left: 80px;




}

.sneak-div {
flex-direction: row;
justify-content: space-between; 

}

.sneak-descricao{
margin-top: 24px;  
font-size: 20px;
line-height: 28px;  
color: #1F1F1F;
width: 100%;
max-width: 475px;
position: relative;
left: 80px;
top: -30px;

}

.tenis-principal{
position: relative;
left: -260px;    
}


.sneak-button{
position: relative;
border-radius: 12px;
width: 220px;
height: 56px;
background: white;
align-items: center;
margin-top: 20px;
position: relative;
left: 80px;
border: 2px solid #1F1F1F;
box-sizing: border-box;

}

.ellipse{
margin: 12px;
padding: 12px 12px;   
width: 521px;
height: 500px;
position: relative;
background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
opacity: 0.2;
top: -500px;
border-radius: 3600px;
left: 766px;
width: 581px;
height: 581px;



    
}

.run-quadro{
position: absolute;
width: 1440px;
height: 567px;
background: #F3F3F3;
border-radius: 8px;

position: relative;
left: 1px;
top: 25px;
height: 767px;
left: 80px;
top: -400px;
}

.run-title{
padding-top: 40px;    
width: 860px;
height: 43px;

font-weight: bold;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */

display: flex;
align-items: center;
text-align: center;
position: relative;
left: 400px;


}

.run-circulo {
flex-direction: row;
justify-content: space-between; 

}

.branco-jpg{
position: relative;
width: 32px;
height: 32px;
left: 536px;
top: 28px;

}

.dourado-jpg{
position: relative;
width: 37px;
height: 37px;
left: 578px;
top: -10px; 

}

.cinza-jpg{
position: relative;
width: 36px;
height: 36px;
left: 630px;  
top: -50px; 
}

.grafite-jpg{
position: relative;
width: 36px;
height: 36px;
left: 682px;
top: -90px;
}

.tenis-branco{
position: relative;
left: 480px;   

}

.sombra{
position: relative;
width: 341.18px;
height: 13.65px;


background: #B7B7B7;
opacity: 0.6;
filter: blur(50px);
}

.tenis-cor{
font-weight: bold;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 140% */

display: flex;
align-items: center;
text-align: center;

/* Sneak / Black */

color: #1F1F1F;

position: relative;
left: 680px;  
}

.tenis-button{
width: 220px;
height: 56px;
border: 2px solid #1F1F1F;
box-sizing: border-box;
border-radius: 12px;
background: #f3f3f3;  
position: relative;
left: 600px;
top: -15px; 



}

.banner {
padding-bottom: 48px;     
background-image: url("../img/Image.png"); 
background-size: 1600px;
background-repeat: no-repeat;
min-height: 720px;
position: relative;
bottom: 800px;
}

.banner-texto {
flex-direction: column;
justify-content: space-between; 
font-style: normal;
font-weight: bold;
font-size: 104px;
line-height: 104px;
/* identical to box height, or 100% */
    
display: flex;
align-items: center;
letter-spacing: -0.02em;
    
/* White */
    
color: #FFFFFF;

}

.seta{
position: relative;
left: 24px;
top: 40px;

}

.corra-txt{
position: relative;
left: -730px;
top: -135px;
}

.dependesse-txt{
position: relative;   
left: -500px;
top: -350px;
}

.voce-txt{
position: relative;
top: -565px;   
left: -450px; 


}

.leveza {
flex-direction: row;
justify-content: space-between;
position: relative;
top: -300px;

}

.title-leveza {
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 64px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
color: #DADADA;
background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

position: relative;
width: 581px;
height: 64px;
left: 80px;


}

.sub-leveza {
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
    
color: #1F1F1F; 

position: relative;
left: 80px;
}

.tenis-deitado{
margin:12px ;
padding-top: 48px;

position: relative;
width: 704px;
height: 600px;
left: 736px;
top: -300px;

}
.amortecimento{
flex-direction: row;
justify-content: space-between; 
position: relative;
top: -450px


}

.imediato-png{
position: relative;
width: 444px;
height: 600px;
left: 80px;
}

.amortecimento-png{
position: relative;
left: 80px;    
width: 252px;
height: 600px;
}

.title-amortecimento{
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 64px;
/* or 100% */

display: flex;
color: #DADADA;
background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

position: relative;
left: 859px;  
bottom: 660px;



}

.sub-amortecimento {
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 140% */


/* Sneak / Black */

color: #1F1F1F;
position: relative;
left: 859px;  
bottom: 660px;
}

.estabilizacao {
flex-direction: row;
justify-content: space-between;
position: relative;
bottom: 700px; 
    
}

.title-sensacao{
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 64px;
color: #DADADA;
background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
display: flex;
align-items: center;

width: 581px;
height: 128px;
position: relative;
left: 80px;

}

.sub-sensacao{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 140% */


/* Sneak / Black */

color: #1F1F1F;
position: relative;
left: 80px;
width: 581px;
height: 56px;
}

.estabilizacao-img{
position: relative;
left: 907px;
top: -250px;
left: 736px;
height: 600px;
    
}

.context{
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: -1000px;
}

.mapa{
left: 80px;
width: 827px;
height: 838px;
border-radius: 8px 0px 0px 8px;
display: flex;
position: relative;
}

.form{
background: #F3F3F3;
border-radius: 0px 8px 8px 0px;
position: relative;
top: -880px;
height: 838px;
width: 613px;
left: 907px;


}

.contato-texto {

font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */

display: flex;
align-items: center;

/* Sneak / Black */

color: #1F1F1F;
position: relative;
left: 48px;
top: 40px;
}


.nome {
background: #FFFFFF;
border-radius: 12px;
width: 517px;
height: 76px;
display: flex;
position: relative;
top: -10px;
border:0px ;
align-items: center;
margin-top: 25px;
left: 35px;
top: 40px;
}

.email{
background: #FFFFFF;
border-radius: 12px;
width: 517px;
height: 76px;
display: flex;
border:0px ;
left: 35px;
position: relative;
top: 68px;
}

.comentarios{
background: #FFFFFF;
border-radius: 12px;
width: 517px;
height: 260px;
display: flex;
position: relative;
top: 84px;
border:0px ;
left: 35px;


}

.privacidade{
position: relative;
top: 158px;
left: 35px;

font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

display: flex;
align-items: center;

/* Grey */

color: #969696;

}

.form-button{
width: 517px;
height: 84px;
border: 2px solid #1F1F1F;
box-sizing: border-box;
border-radius: 12px;
display: flex;
position: relative;
top: 120px;
background: #F3F3F3;
font-weight: bold;
left: 35px;
top: 185px;
}

.footer-logo{
width: 67px;
height: 28px;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

display: flex;
align-items: center;

/* Sneak / Black */

color: #1F1F1F;

position: relative;
left: 80px;
top: 26px;
}

.sobre{
margin: 0;
padding: 0;
flex-direction: row;
justify-content: space-between;
width: 336px;
height: 194px;
left: 290px;
top: -26px;
position: relative;
    
}

.ajuda{
margin: 0;
width: 336px;
height: 194px;
left: 676px;
top: -226px;
flex-direction: row;
justify-content: space-between;
position: relative;
}

.redes{
margin: 0;
padding: 0;
width: 336px;
height: 88px;
left: 999px;
top: -416px;
position: relative;

}

.redes-img{
    display: inline-block;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


.footer-designed{

position: relative;
left: 658px;
top: -270px;

/* Sneak / Gray 2 */

}

.mentorama{

width: 1600px;
height: 68px;
 
}


.footer{
position: relative;
width: 1600px;
height: 306px;
top: -1800px;

/* Sneak / Main Default */

background: #F3F3F3;
}

.by-mentorama{
position: relative;
top: -305px;
left: 770px;




}